# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Flask / SQLite
*.db
instance/
*.sqlite
*.sqlite3

# VS Code
.vscode/

# Node
node_modules/

# Environment variables
.env

# macOS
.DS_Store

#exports
backend/exports/*.csv

#celery
backend/celerybeat-schedule
